{% extends "auctions/layout.html" %}

{% block body %}

    <div class="listing-eyebrow">
        <div class="active">
            {% if listing_info.active %}
                Active
            {% else %}
                Inactive
            {% endif %}
        </div>
        <div class="wishlist">
            {% if on_wishlist %}
                <form action="{% url 'auctions:remove_wishlist' listing_info.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove From Wishlist">
                </form>
            {% else %}
                <form action="{% url 'auctions:add_wishlist' listing_info.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to Wishlist">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="listing-eyebrow">
        <div>
            <div class="title-listing">{{ listing_info.title.capitalize }}</div>
            <div class="description-listing">{{ listing_info.description }}</div>
        </div>
        <div class="price">
            ${{ price }}
        </div>
    </div>

    <div>
        {% if listing_info.url_image %}
            <img src="{{ listing_info.url_image }}" alt="{{ listing_info.title }}" width="400px">
        {% else %}
            <img src="https://4ddig.tenorshare.com/images/photo-recovery/images-not-found.webp" alt="Image not Found" width="400px">
        {% endif %}
    </div>

    <div class="listing-eyebrow">
        <div class="title-listing">Bids</div>
        <div class="wishlist">
            {% if listing_info.active and owner %}
                <form action="{% url 'auctions:close_bid' listing_info.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Close Bidding">
                </form>
            {% endif %}
        </div>
    </div>

    <div>
        {% if listing_info.active %}
            <ul>
                {% for bid_single in bids %}
                    <li>${{ bid_single.price }} by {{ bid_single.user.username.capitalize }}</li>
                {% empty %}
                    <li>No bids</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        {% if listing_info.active %}
            <form action="{% url 'auctions:bid' listing_info.id %}" method="post">
                {% csrf_token %}
                New Bid: {{ bid_form.price }}
                <input type="submit">
            </form>
        {% elif winner %}
            <h4>Congratulations! You won {{ listing_info.title.capitalize }}</h4>
        {% else %}
            <h4>This listing is closed</h4>
        {% endif %}
    </div>
    
        
    <div class="listing-eyebrow">
        <div class="title-listing">Comments</div>
        <div class="wishlist"></div>
    </div>

    <div>
        <ul>
            {% for comment in comments %}
                <li>{{ comment.user.username.capitalize }}: {{ comment.text }}</li>
            {% empty %}
                <li>No comments</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <form action="{% url 'auctions:comment' listing_info.id %}" method="post">
            {% csrf_token %}
            New comment: {{ comment_form.text }}
            <input type="submit">
        </form>
    </div>    

{% endblock %}


