{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ user.username.capitalize }}'s Wishlist</h1>

    {% for item, price in wishlist %}
         <div class="listing-eyebrow">
            <div>
                <div class="title-listing">
                    <a href="{% url 'auctions:listing' item.listing.id %}">{{ item.listing.title.capitalize }}</a>
                </div>
                <div class="description-listing">{{ item.listing.description }}</div>
            </div>
            <div class="price">
                {% if not price.max_price %}
                    ${{ item.listing.starting_price }}
                {% else %}
                    ${{ price.max_price }}
                {% endif %}
            </div>
        </div>

        <div>
            {% if listing_info.url_image %}
                <img src="{{ listing_info.url_image }}" alt="{{ listing_info.title }}" width="400px">
            {% else %}
                <img src="https://4ddig.tenorshare.com/images/photo-recovery/images-not-found.webp" alt="Image not Found" width="400px">
            {% endif %}
        </div>
        
        <div class="button">
            <form action="{% url 'auctions:remove_wishlist' item.listing.id %}" method="post" style="text-align: center;">
                {% csrf_token %}
                <input type="submit" value="Remove from Wishlist">
            </form>
        </div>
        <hr style="width: 400px;">
    {% empty %}
        <h2>No items in wishlist</h2>
    {% endfor %}

{% endblock %}
