{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ user.username.capitalize }}'s Wishlist</h1>

    <ul>
        {% for item in wishlist %}
            <li>
                <a href="{% url 'auctions:listing' item.listing.id %}">{{ item.listing.title }}</a>
            </li>
            <ul>
                <li>{{ item.listing.description }}</li>
                {% if item.listing.url_image %}
                    <li><img src="{{ item.listing.url_image }}" alt="{{ item.listing.title}}" width="200px"></li>
                {% endif %}
                <li>
                    <form action="{% url 'auctions:remove_wishlist' item.listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove from Wishlist">
                    </form>
                </li>
            </ul>
        {% empty %}
            <li>No items in wishlist</li>
        {% endfor %}
    </ul>

{% endblock %}
