{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if user.is_authenticated and create%}
        <button id="create-post-btn" class="btn btn-primary">Create Post</button>
        <div id="create-post">
            <h3>New Post</h3>
            <form>
                <textarea class="new-post-content"></textarea>
                <input type="button" id="submit-post" value="Post" class="btn btn-primary" style="display: block;">
            </form>
        </div>
    {% endif %}

    <div id="posts">
        {% for post in posts %}
            <div class="post-outline">
                <div style="display: grid; grid-template-columns: 300px auto;">
                    <div><b><a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></b></div>
                    {% if post.author.username == user.get_username %}
                        <div>
                            <button class="edit-post btn btn-primary btn-sm" data-id="{{ post.id }}">Edit</button>
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
                
                <div id="original-content-{{ post.id }}">{{ post.content }}</div>
                <textarea id="edit-content-{{ post.id }}" class="new-post-content" style="display: none;">{{ post.content }}</textarea>
                <button id="save-post-edit-{{ post.id }}" class="btn btn-primary btn-sm" style="display: none;">Save</button>
                <div class="create-time">{{ post.created_at }}</div>
                <div class="likes">
                    {% if user.is_authenticated %}
                        <button class="like-post" data-id="{{ post.id }}" style="border: 0;">
                            <span id="like-heart-{{ post.id }}">&#9825;</span>
                        </button>
                    {% endif %}
                    <span id="like-count-{{ post.id }}">{{ post.likes.count }}</span> Likes
                </div>
            </div>
        {% empty %}
            <h3>No Posts to View</h3>
        {% endfor %}
    </div>

    <div id="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}