{% extends "network/layout.html" %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>All Posts</h1>

    <button id="create-post-btn">Create Post</button>
    <div id="create-post">
        <h3>New Post</h3>
        <form>
            <textarea id="new-post-content"></textarea>
            <input type="button" id="submit-post" value="Post">
        </form>
    </div>

    <div id="posts">
        {% for post in posts %}
            <div><b>{{ post.author.username }}</b></div>
            {% if post.user.username == user.username %}
                <div>
                    <button class="edit-post" data-id="{{ post.id }}">Edit</button>
                </div>
            {% endif %}
            <div id="original-content">{{ post.content }}</div>
            <textarea id="edit-content" style="display: none;">{{ post.content }}</textarea>
            <button id="save-post-edit" style="display: none;">Save</button>
            <div style="display: grid; grid-template-columns: auto auto;">
                <div>Created at {{ post.created_at }}</div>
                {% if post.created_at != post.updated_at %}
                    <div style="text-align: end;">Last updated at {{ post.updated_at }}</div>
                {% endif %}
            </div>
            <div>
                <button><span class="glyphicon glyphicon-heart" style="color: white;"></span></button>
                 {{ post.likes.count }} Likes
            </div>
        {% endfor %}
    </div>

    <div id="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}