{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>{{ username.capitalize }}'s Profile</h1>

    <div id="following">
        <div><span id="following-count">{{  profile_posts.0.author.following.count }}</span> Following</div>
        <div><span id="follower-count">{{ profile_posts.0.author.follower.count }}</span> Followers</div>
    </div>

    {% if user.is_authenticated %}
        {% if username != user.get_username %}
            <button id="follow" data-user-id="{{ profile_posts.0.author.username }}" class="btn btn-primary">Follow</button>
        {% else %}
            <button id="create-post-btn" class="btn btn-primary">Create Post</button>
            <div id="create-post" style="display: none;">
                <h3>New Post</h3>
                <form>
                    <textarea id="new-post-content"></textarea>
                    <input type="button" id="submit-post" value="Post" class="btn btn-primary" style="display: block;">
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div id="posts">
        {% for post in profile_posts %}
            <div class="post-outline">
                <div class="post-header">
                    <div><b>{{ post.author.username }}</b></div>
                    {% if post.author.username == user.get_username %}
                        <div>
                            <button class="edit-post btn btn-primary btn-sm" data-id="{{ post.id }}">Edit</button>
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
                
                <div id="original-content-{{ post.id }}">{{ post.content }}</div>
                <textarea id="edit-content-{{ post.id }}" class="new-post-content" style="display: none;">{{ post.content }}</textarea>
                <button id="save-post-edit-{{ post.id }}" class="btn btn-primary btn-sm" style="display: none;">Save</button>
                <div class="create-time">{{ post.created_at }}</div>
                <div class="likes">
                    {% if user.is_authenticated %}
                        <button class="like-post" data-id="{{ post.id }}" style="border: 0;">
                            <span id="like-heart-{{ post.id }}">&#9825;</span>
                        </button>
                    {% endif %}
                    <span id="like-count-{{ post.id }}" >{{ post.likes.count }}</span> Likes
                </div>
            </div>
        {% empty %}
            <h3>User has no posts</h3>
        {% endfor %}
    </div>

    <div id="pagination">
        <span class="step-links">
            <div style="display: grid; grid-template-columns: auto auto; width: 50%;">
                <div>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary btn-sm">Previous</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
                <div style="justify-self: end;">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary btn-sm" style="align-items: end;">Next</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            </div>    
        </span>
    </div>
{% endblock %}